/* template Mapbox style */
body {
  margin: 0;
  padding: 0;
}

/* additional formatting */
h2,
h3 {
  margin: 5px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

/* Mapbox code to position map on upper left corner to fill page*/
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* Mapbox code for map-overlay with info-box*/
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#info-box {
  top: 10;
  left: 10;
  height: 200px;
  margin-top: 170px;
  margin-left: 10px;
  margin-bottom: 40px;
  width: 300px;
}
